<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Collegetime-Blogs</title>
	<link rel="icon" href="/default/images/favicon.png" type="image/png">

<!-- for css in the html -->
<%- include ('../partials/default/header-css')%>

</head>

<body class="" style="
    background-color: #f8f8ff;" >

<!-- Navigation -->

<%- include ('../partials/default/top-navigation')%>


  <!--================Hero Banner SM Area Start =================-->



  <!-- <section style="padding:40px">
   <div class="container">

     <div class="" style="text-align:center;">

          <h1 style ="color:#6059f6;">Blogs</h1>
          <p>This is all we have</p>

        </div>
      </div>
    </section> -->



  <!--================Hero Banner SM Area End =================-->
  <!--================Blog section Start =================-->
  <section class="bg-gray" style="padding-top:40px;">
    <div class="container">
      <div class="section-intro text-center pb-90px">
        <img class="section-intro-img" src="/default/img/home/section-icon.png" alt="">
        <h2>From our Blog</h2>
        <p>Fowl have fruit moveth male they are that place you will lesser</p>
      </div>

      <div class="row" >
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" style="padding-bottom:20px">
          <div class="card-blog">
            <img class="card-img rounded-0" src="/default/img/blog/blog-1.png" alt="">
            <div class="card-blog-body">
              <a href="# " class="stretched-link">
                <h4>Forest responds to consultation smoking in al fresco.</h4>
              </a>
              <ul class="card-blog-info">
                <li><a href="#"><span class="align-middle"><i class="ti-notepad"></i></span>Jan 03, 2018</a></li>

              </ul>
              <p>Varius metus morbi ferme libero vehic on porta malesuada ut interdu estmales torquent vehicula parturient </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" style="padding-bottom:20px">
          <div class="card-blog">
            <img class="card-img rounded-0" src="/default/img/blog/blog-1.png" alt="">
            <div class="card-blog-body">
              <a href="#">
                <h4>Forest responds to consultation smoking in al fresco.</h4>
              </a>
              <ul class="card-blog-info">
                <li><a href="#"><span class="align-middle"><i class="ti-notepad"></i></span>Jan 03, 2018</a></li>

              </ul>
              <p>Varius metus morbi ferme libero vehic on porta malesuada ut interdu estmales torquent vehicula parturient </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" style="padding-bottom:20px">
          <div class="card-blog">
            <img class="card-img rounded-0" src="/default/img/blog/blog-2.png" alt="">
            <div class="card-blog-body">
              <a href="#" class="stretched-link">
                <h4>Forest responds to consultation smoking in al fresco.</h4>
              </a>
              <ul class="card-blog-info">
                <li><a href="#"><span class="align-middle"><i class="ti-notepad"></i></span>Jan 03, 2018</a></li>

              </ul>
              <p>Varius metus morbi ferme libero vehic on porta malesuada ut interdu estmales torquent vehicula parturient </p>
            </div>
          </div>
        </div>

        <%posts.forEach(function(post){%>

        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" style="padding-bottom:20px" >
          <div class="card-blog">
            <img class="card-img rounded-0" src="<%=post.file%>" alt="">
            <div class="card-blog-body">
              <a href="/blogs/<%=post.slug%>" class="stretched-link">
                <h4><%=post.title%> vehic on porta malesuada </h4>
              </a>
              <ul class="card-blog-info">
                <li><a href=""><span class="align-middle"><i class="ti-notepad"></i></span>Jan 03, 2018</a></li>

              </ul>
              <p><%-post.description.substring(0,100)%> </p>
            </div>
          </div>
        </div>
        <%})%>

      </div>
    </div>
  </section>
  <!--================Blog section End =================-->


  <!--================Blog Area =================-->
  <section  class="">
      <div class="container">
          <div class="row">
            <%posts.forEach(function(post){%>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" style="padding-bottom:20px" >
              <div class="card-blog">
                <img class="card-img rounded-0" src="<%=post.file%>"  width="360px" height="280px" alt="<%=post.altimg%>">

                <div class="card-blog-body">
                  <a class="card-title stretched-link " href="/blogs/<%=post.slug%>">
                    <h4><%=post.title%></h4>
                  </a>

                  <ul class="card-blog-info">
                    <li><a href=""><span class="align-middle"><i class="ti-notepad"></i></span><%=post.creationDate%></a></li>

                  </ul>

                  <p class="card-text"><%-post.description.substring(0,100)%></p>
                  <ul class="foot">
                    <li><p>4 MIN READ</p></li>
                  </ul>



                      </div>

                  </div>
                    </div>
                        <%})%>


                </div>


  </section>


  <%- include ('../partials/default/footer')%>
  </body>
