
<%- include ('../partials/admin/admin-header')%>

<body  id="page-top">
    <div id="wrapper">
<!-- Navigation-->

<%- include ('../partials/admin/admin-topNav')%>



<div class="container-fluid">

  <%- include ('../partials/admin/messages')%>








    <%- body %>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->





  </div>

</div>

<%- include ('../partials/admin/admin-footer')%>
</body>
