<div class="container">


    <h3 class="alert alert-dark p-3 text-dark text-center">ContactForm</h3>

    <div class="row">
        <div class="col-6 mx-auto">
            <table class="table table-bordered text-center border-success text-white">
                <thead class="bg-primary">
                <tr>
                    <th>Name</th>
                    <th>Mail ID</th>
                    <th>Subject</th>
                    <th>Message</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody class="table-hover bg-dark category-list">
                  <% contact.forEach(function(contact){%>
                <!--{{#each categories}}-->
                    <tr>

                        <td><%=contact.name%></td>
                        <td><%=contact.id%></td>
                        <td><%=contact.subject%></td>
                        <td><%=contact.message%></td>
                        <td class="d-flex justify-content-center">
                            <a href="/admin/contact/edit/<%=contact._id%>" class="btn btn-sm btn-warning mr-2" role="button">Edit</a>
                            <form action="/admin/contact/delete/<%=contact._id%>?newMethod=DELETE" method="post">
                          <button class="btn btn-danger"type="submit" onclick="if (!confirm('Are you sure?')) { return false }">Delete</button>
                          </form
                        </td>
                    </tr>


                    <%})%>
              <!--  {{/each}} -->
                </tbody>

            </table>
          </div>
